#logo-img {
    color: orange;
    text-align: Center;
    background-color: lightblue;
    padding: 35px 70px;
}

/* Footer */
.panel-footer {
    margin-top: 30px;
    padding-top: 35px;
    padding-bottom: 30px;
    background-color:gray;
    border-top: 0;
  }
.panel-footer section {
    margin-bottom: 30px;
    text-align: center;
  }
 
  .panel-footer section hr {
    width: 50%;
  }
  /* End Footer */

@media (min-width: 768px) {
    .visible-xs {
       display: none;
    }
 }

  /********** Large devices only **********/
@media (min-width: 1200px) {
    .container .jumbotron {
      background: url('../images/jumbotron_1200.jpg') no-repeat;
      height: 675px;
    }
  }
  
  /********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
    /* Header */
   
    /* End Header */
  
    /* Home Page */

    /* End Home Page */
  
  /********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
    /* Home Page */

    /* End Home Page */
  
  /********** Extra small devices only **********/
@media (max-width: 767px) {
    /* Header */

   /* End Header */

    /********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
    /* Header */
  
    /* End Header */
    
    /* Home page */
  
    .col-xxs-12 {
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
      float: left;
      width: 100%;
    }
  }